NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
TURBO_TELEMETRY_DISABLED=1
BETTER_AUTH_TELEMETRY=0
NEXT_PUBLIC_API_URL=http://localhost:3002
OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318