NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
TURBO_TELEMETRY_DISABLED=1
BETTER_AUTH_TELEMETRY=0
NEXT_PUBLIC_API_URL=http://localhost:3002
OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
NEXT_PUBLIC_PRESENCE_WS_URL=ws://localhost:4000
SERWIST_SUPPRESS_TURBOPACK_WARNING=1