@import "tailwindcss";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/800.css";
@import "@fontsource/montserrat/900.css";
@import "@fontsource/space-mono";
@import "@fontsource/karla";
@import "@fontsource/playfair/400.css";
@import "@fontsource/playfair/500.css";
@import "@fontsource/playfair/600.css";
@import "@fontsource/playfair/700.css";
@import "@fontsource/playfair/800.css";
@import "@fontsource/playfair/900.css";
@import "@fontsource/playfair/400-italic.css";
@import "@fontsource/playfair/500-italic.css";
@import "@fontsource/playfair/600-italic.css";
@import "@fontsource/playfair/700-italic.css";
@import "@fontsource/playfair/800-italic.css";
@import "@fontsource/playfair/900-italic.css";

@theme {
  /* Font families */
  --font-heading: "Montserrat", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-sans: "Karla", sans-serif;
  --font-handwriting: "Playfair", serif;

  /* Custom animations */
  --animate-slide-up: slideUp 1s linear forwards;
  --animate-marquee: marquee 25s linear infinite;
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  /* Colors */
  --color-background: #060606;
  --color-text-primary: #e5e5e5;

  @keyframes slideUp {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

html,
body {
  background-color: #0b0b0b;
  color: #d4d4d8;
  overflow-x: hidden;
  max-width: 100vw;
}
.bg-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  mask-image: radial-gradient(ellipse at center, black 40%, transparent 80%);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #171717;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

.gradient-text {
  background: linear-gradient(45deg, #bdbdbd, #282828, #bdbdbd, #282828);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shift 8s linear infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
